{% extends 'base.html' %}
{%block title%}MEU CARRINHO{% endblock%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <H4>ITENS DO CARRINHO</H4>
            <table>
                <thead>
                <tbody>
                    <tr>
                        <th>Código</th>
                        <th>Produto</th>
                        <th>Avaliação</th>
                        <th>Quantidade</th>
                        <th>Subtotal</th>
                        <th>Ação</th>
                        
                    </tr>
                </tbody>
                </thead>
            </table>

        </div>

    </div>

</div>

{% endblock %}