{% extends 'base.html' %}
{%block title%}TODOS PRODUTOS{% endblock%}

{% block content %}

<div class="container">
    <h1>PAGINA TODOS PRODUTOS DA CATEGORIA</h1>
    <hr>
    {% for cat in todocategorias %}

    <h1>{{cat.titulo}}</h1>
    <div class="row mt-3">
        {% for p in cat.produto_set.all %}
        <div class="col-md-4">
            <div class="m-3">
                <h4><a href="{% url 'lojaapp:produtodetalhe' p.slug %}">{{p.titulo}}</a></h4>
                <img src="{{p.image.url}}" alt="" class="img-fluid" width="150">
                <p class="mt-3">Preço: <strike>R${{p.preco_mercado}}</strike> R${{p.venda}} </p>
                <a href="" class="btn btn-success">COMPRAR</a>
            </div>
        </div>
        {% endfor%}
    </div>
    {% endfor %}


</div>
{% endblock %}